:root{
    --link-color:#e5e5e5;
    --bg-color: #0d0c22;
    --bgSoft: #2d2b42;
    --text-color:white;
    --textSoft: #e5e5e5;
    --button-color:#3673fd;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: var(--link-color);
}
html{
    scroll-behavior: smooth;
}