.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 70px;
}
.colum1{
    flex: 1;
}
.colum1 h1{
    font-size: 80px;
}
.colum1 .buttons{
    display: flex;
    align-items: center;
    gap: 40px;
}
.colum1 .buttons button{
    cursor: pointer;
    padding: 18px;
    border-radius: 5px;
    border: none;
}
.colum1 .buttons .button1{
    background-color: var(--button-color);
    color: var(--text-color);
}
.colum1 .brands{
    width: 90%;
    position: relative;
    height: 70px;
}
.brands Img{
    filter: grayscale(1); 
}
.colum2{
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.colum2 Image{
    position: absolute;
}
@media (max-width:768px){
    .container{
        flex-direction: column;
    }
    .colum1{
        text-align: center;
    }
    .colum1 .brands{
        width: 100%;
        position: relative;
        height: 70px;
        display:flex ;
        align-items: center;
        justify-content: center;
    }
    .colum1 .buttons{
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: center;
    }
 }