.container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
}
.postCard{
    width: 30%;
}

@media (min-width:2100px){
    .postCard{
        width: 25%;
    }
 }
@media (max-width:1100px){
    .postCard{
        width: 49%;
    }
 }
@media (max-width:700px){
    .postCard{
        width: 100%;
    }
 }