.container .link{
  font-weight: bolder;
  margin: 40px 0;
  color: var(--text-color);
}
.container .link.active{
    background-color: var(--text-color);
    padding: 10px 18px;
    border-radius: 50px;
    color: var(--bg-color);
}