.container{
    display: flex;
    align-items: center;
    width: 350px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.topCard{
    width: 100%;
    height: 400px;
    display: flex;
}
.imageCon{
    width: 90%;
    position: relative;
}
.imageCon .image{
    object-fit: cover;
}
.date{
    margin: auto;
    transform: translateX(-20px)rotate(269deg);
    display: flex;
    width: 135px;
  }
  .bottomCard{
    width: 75%;
  }
  .link{
    text-decoration: underline;
  }